.chat-screen {
  background-color: #abc1d1;
  height: 1000vh;
}

.chat-screen .status-bar {
  background-color: #abc1d1;
  z-index: 2;
}

.chat-screen .alt-screen-header {
  background-color: #abc1d1;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  z-index: 1;
}
.alt-screen-header__column {
  width: 33%;
}

.alt-screen-header__column:nth-child(2) {
  text-align: center;
}

.alt-screen-header__column:last-child {
  display: flex;
  justify-content: flex-end;
}

.alt-screen-header__column .fa-bars {
  padding-left: 20px;
}

.main-chat {
  height: 100%;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-chat__time-stamp {
  font-size: 17px;
  background-color: rgba(53, 53, 53, 0.2);
  color: rgba(255, 255, 255, 0.8);
  padding: 10px 15px;
  border-radius: 20px;
  margin-bottom: 25px;
}

.message-row {
  display: flex;
  margin-bottom: 15px;
  width: 100%;
}

.message-row img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 35%;
  margin-right: 13px;
}

.message__author,
.message__time {
  font-size: 20px;
  opacity: 80%;
}

.message__info {
  display: flex;
  align-items: flex-end;
}

.message__time {
  font-size: 15px;
}

.message__bubble {
  display: block;
  margin-top: 10px;
  margin-right: 10px;
  font-size: 22px;
  background-color: white;
  padding: 10px 15px;
  border-radius: 20px;
  border-top-left-radius: 0px;
}

.message-row--own {
  justify-content: flex-end;
}

.message-row--own .message__info {
  flex-direction: row-reverse;
}

.message-row--own .message__bubble {
  margin-right: 0px;
  margin-left: 10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 0px;
  background-color: var(--yellow);
}
