.chat-screen {
  background-color: #abc1d1;
  height: 1000vh;
}

.chat-screen .status-bar {
  background-color: #abc1d1;
  z-index: 2;
}

.chat-screen .alt-screen-header {
  background-color: #abc1d1;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  z-index: 1;
}
.alt-screen-header__column {
  width: 33%;
}

.alt-screen-header__column:nth-child(2) {
  text-align: center;
}

.alt-screen-header__column:last-child {
  display: flex;
  justify-content: flex-end;
}

.alt-screen-header__column .fa-bars {
  padding-left: 20px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: none;
  }
  to {
    opacity: 1;
    transform: translateY(-30px);
  }
}

.main-chat {
  height: 100%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 1s ease-in-out forwards;
}

.main-chat__time-stamp {
  font-size: 12px;
  background-color: rgba(53, 53, 53, 0.2);
  color: rgba(255, 255, 255, 0.8);
  padding: 7px 12px;
  border-radius: 20px;
  margin-bottom: 25px;
}

.message-row {
  display: flex;
  margin-bottom: 15px;
  width: 100%;
}

.message-row img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 35%;
  margin-right: 10px;
}

.message__author,
.message__time {
  font-size: 15px;
  opacity: 80%;
}

.message__info {
  display: flex;
  align-items: flex-end;
}

.message__time {
  font-size: 12px;
}

.message__bubble {
  display: block;
  margin-top: 10px;
  margin-right: 10px;
  font-size: 13px;
  background-color: white;
  padding: 5px 10px;
  padding-bottom: 8px;
  border-radius: 20px;
  border-top-left-radius: 0px;
}

.message-row--own {
  justify-content: flex-end;
}

.message-row--own .message__info {
  flex-direction: row-reverse;
}

.message-row--own .message__bubble {
  margin-right: 0px;
  margin-left: 10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 0px;
  background-color: var(--yellow);
}

.reply {
  position: fixed;
  bottom: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 7px 15px;
  box-sizing: border-box;
  transition: transform 0.2s ease-in-out;
}

.reply i {
  opacity: 0.4;
}

.reply__column:first-child {
  width: 10%;
  margin-right: 5px;
  transition: opacity 0.2s ease-in-out;
}

.reply__column:last-child {
  width: 90%;
  transition: opacity 0.2s ease-in-out;
}

.reply input {
  width: 100%;
  font-size: 15px;
  border: 1px solid rgba(53, 53, 53, 0.3);
  border-radius: 20px;
  padding: 10px;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  position: relative;
}

.reply__column:last-child i,
.reply__column:last-child button {
  position: absolute;
}

.reply__column:last-child button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--yellow);
  padding: 8px;
  border: none;
  top: 0px;
  right: 20px;
  margin: 12px 0;
}

.reply__column:last-child button i {
  color: black;
  font-size: 18px;
  top: 5px;
  right: 7px;
  opacity: 1;
}

.reply__column:last-child .fa-smile {
  top: 20px;
  right: 70px;
}

.reply__column button:focus,
.reply__column button:active {
  outline: none;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-smile,
.reply:focus-within button {
  opacity: 0;
}

.reply input:focus {
  width: 85vw;
  transform: translateX(-20px) translateY(-80px);
}

.reply:focus-within {
  transform: translateY(80px);
}
