#friends-display-link {
  background-color: #fafafa;
  display: block;
  text-align: center;
  padding: 15px 0px;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: -10px;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.2);
}

.freinds-screen__channel-header {
  border-top: var(--main-border);
  padding: 15px 0px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  opacity: 70%;
}

.freinds-screen__channel {
  margin-top: 20px;
}
