#friends-display-link {
  background-color: #fafafa;
  display: block;
  text-align: center;
  padding: 15px 0px;
  font-size: 18px;
  font-weight: 500;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.2);
}
