.alt-screen-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px var(--horizontal-space);
  margin-bottom: 10px;
  margin-top: -20px;
}

.alt-screen-header__title {
  font-size: 20px;
  font-weight: 600;
}

.alt-screen-header__column:first-child {
  margin-right: auto;
}

.alt-screen-header__column:last-child {
  margin-left: auto;
}
