.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px var(--horizontal-space);
  padding-top: 0px;
  margin-bottom: 10px;
}

.screen-header__title {
  font-size: 28px;
  font-weight: 600;
}

.screen-header__icons span {
  padding-left: 25px;
}

@keyframes cogRotate {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.fa-cog:hover {
  animation: cogRotate 2s linear infinite;
}
