.status-bar {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  top: 0px;
  padding: 2px 4px;
  color: black;
  background-color: white;
  z-index: 50;
  font-size: 13px;
}
.status-bar__column {
  width: 33%;
}

.status-bar__column:first-child {
  padding-top: 2px;
}

.status-bar__column:first-child span {
  margin-right: 5px;
}

.status-bar__column:nth-child(2) {
  display: flex;
  justify-content: center;
  padding-top: 3px;
}

.status-bar__column:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.status-bar__column:last-child i {
  margin-top: 2px;
}

.status-bar__column .fa-battery-half {
  margin: 0px 5px;
}
