.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.more-screen .user-component__column:first-child {
  width: 60%;
}
.user-component__avatar {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 35%;
  margin-right: 15px;
}

.user-component__avatar--xl {
  width: 65px;
  height: 65px;
  object-fit: cover;
  border-radius: 35%;
  margin-right: 15px;
}

.user-component__avatar--sm {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 35%;
  margin-right: 15px;
}

.user-component__title {
  font-size: 20px;
  font-weight: 600;
}

.user-component__subtitle {
  margin-top: 10px;
  font-size: 17px;
  color: rgba(0, 0, 0, 0.5);
}

.user-component__title-not-bold {
  font-size: 23px;
  font-weight: 400;
}

.user-component__column:last-child {
  color: rgba(0, 0, 0, 0.5);
  font-size: 17px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user-component__time {
  display: block;
  font-size: 15px;
  margin-bottom: 10px;
}

.user-component__phone-number {
  display: flex;
  align-items: center;
  width: 200px;
}
